<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consolas</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Realizar venta</h1>
    <input type="text" id="nombre" placeholder="Nombre del producto">
    <input type="number" id="valor" placeholder="Valor">
    <button onclick="calcularDescuento()">facturar</button>
    <div id="resultado"></div>

    <h1>Suma total de descuentos</h1>
    <button onclick="obtenerSumaDescuentos()">Obtener suma</button>
    <div id="suma_descuentos"></div>

    <script src="../js/logica.js"></script>
</body>
</html>