body {
    background-color: #343a40;
}
.form-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-label {
    color: #ffffff;
}
.navbar-brand span {
    font-size: 2.8rem; /* Ajusta el valor según tus preferencias */
    font-weight: bold;
    color: red;
}
.navbar-brand span:nth-child(2n) {
    font-size: 2.8rem; /* Ajusta el valor según tus preferencias */
    color: blue;
}
.navbar-brand span:nth-child(3n) {
    font-size: 2.8rem; /* Ajusta el valor según tus preferencias */
    color: green;
}
.navbar-brand span:nth-child(4n) {
    font-size: 2.8rem; /* Ajusta el valor según tus preferencias */
    color: yellow;
}
.nav-link {
    transition: background-color 0.3s ease;
    color: white;
    background-color: black;
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}